/* font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-dark: #222;
  --clr-light: #eee;
  --clr-accent-dark: #ff0a54;
  --clr-accent-light: #fbb1bd;
}

body {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  background-color: var(--clr-light);
}

header,
footer {
  text-align: center;
  padding: 1em;
  background-color: var(--clr-dark);
  color: var(--clr-accent-light);
}

main {
  padding: 2em 0;
  background-color: var(--clr-light);
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section {
  background-color: var(--clr-light);
}

li {
  list-style-position: inside;
}

.nested-list-item {
  margin-left: 1em;
}

/* typography */

h1 {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
}

h2.section-heading {
  color: var(--clr-accent-dark);
  font-weight: 700;
  font-size: 1.5rem;
}
